.DS_Store
Thumbs.db

venv/
env/
*.pyc
__pycache__/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log
*.tmp
tmp/
logs/
bot.log
db.log

*.sqlite
*.db

tests/
test_*

# filescout-6aff1164b27f.json

.git/
.gitignore
README.md
LICENSE